* {
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300;400&display=swap');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;

  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.container {
  height: 112vh;
  width: 100%;
  background-image: url("background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-top:-6rem;
}
.header {
  position:sticky;
  top:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0px;
  & .header__brand {
    display: flex;
    position:absolute;
    top:0.5rem;
    left:0rem;
    margin: 0px 10px;
    flex: 5%;
  }
}
.navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  & a {
    display: flex;
    margin: 1rem;
    text-decoration: none;
    width: 90px;
    height: 30px;
    margin-right:2rem;
    margin-left: 0rem;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(248, 246, 246);
    border-radius: 2px;
    justify-content: center;
    padding-top: 0.2rem;

    &:hover {
      background-color: rgb(241, 66, 148);
      cursor: pointer;
    }
  }
  & .navigate__contact-us{
    background-color:rgb(241, 66, 148);
  }
}
.media-icons{
  display:flex;
  flex-direction:row;
  color:white;
  align-items: center;
  justify-content:center;
  margin:1rem 0rem;
  margin-top:-3.5rem;
  margin-right:2.5rem;
  & .media-icons__icons{
     margin:1rem;
  }
}
.header{
  .header__navigation{
    display: flex;
    justify-content: flex-end;
    margin-top:0.6rem;
    margin-right:0rem;
    flex: 90%;
  }
   & a {
    margin-right: 3rem;
    color: rgb(253, 113, 143);
  }
}
.header{
  .header__brand{
    position:absolute;
    height:50px;
    width:50px;
  }
}

.header{
  .header__menu{
    display:none;
    position:absolute;
    top:-1rem;
    right:0rem;
    flex: 5%;
    height: 50px;
    width: 50px;
    margin: 1rem;
  }
}
.main-info{
  margin-top:-38rem;
}
.main-info{
  & .main-info__title{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    font-size: 6rem;
    text-align: center;
  }
}
.main-info{
  & .main-info__content{
    color: rgb(255, 251, 251);
    margin-top: 1.5rem;
    text-align: center;
  }
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.timer {
  & .timer__remaining-time{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  & .timer__time {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-right: 4rem;
    color: rgb(255, 255, 255);
    background-color: rgba(254, 255, 255, 0.3);
    border: 5px solid black;
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
    border: 0px solid rgb(255, 255, 255);
  }
  & .timer__time P {
    font-size: 20px;
    color: whitesmoke;
    font-weight: bolder;
  }
}
.scroll-down {
  display: flex;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 45%;
  bottom:0px;
  cursor: pointer;
}
.scroll-down ::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid rgb(250, 243, 250);
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.what-we-do__section-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 100%;
  margin-top:10rem;
  margin-bottom: 4rem;
  & .what-we-do__head {
    margin: 2rem;
  }
  & .what-we-do__info {
    display: flex;
    margin: 0.5rem;
    width: 50vw;
    height: 10vh;
    text-align: center;
  }
}
.depts {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0.5rem 5rem;
  justify-content: space-between;
  align-items: center;
  & .depts__dept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & h1 {
      margin: 1rem;
      font-size: 20px;
      font-weight: 50px;
    }
    & p {
      font-weight: lighter;
    }
    & .depts__dept-icon {
      display: block;
      border: 1px solid rgb(209, 0, 98);
      padding: 0.3rem;
      border-radius: 70%;
      width: 40px;
      height: 30px;
    }
  }
}
.team {
  background-color: rgb(238, 234, 227);
  margin: 10rem 0rem;
  margin-bottom: 5rem;
  height:90vh;
}
.team__section-3 {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  & .team__title {
    margin: 2rem;
    display: flex;
  }
  & .team__info {
    display: flex;
    margin-top: 2rem;
    width: 50vw;
    height: 10vh;
    text-align: center;
  }
}
 .members {
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:auto;
   & .members__member {
     width:200px;
     height:230px;
      display: flex;
      flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-left:13rem;
    background-color: white;
    margin-bottom:5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    & h4 {
      margin: 0.4rem;
    }
    & p {
      padding:0.3rem;
    }
  }
  & .members__profile {
    width: 180px;
    height: 150px;
  }
 }
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;

  & .connect__title {
    font-weight: bolder;
  }
  & .connect__head {
    margin: 1.5rem;
  }
  & .connect__info {
    display: flex;
    width: 50vw;
    height: 10vh;
    text-align: center;
  }
}
.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  & .contact-details__input-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    justify-content: center;
    & .contact-details__your-message {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      & .contact-details__message {
        margin: 0.5rem;
      }
      & .contact-details__user-message {
        margin: 0.8rem;
        width: 375px;
        height: 80px;
        background-color: rgb(233, 230, 230);
      }
    }
    & button {
      background-color: rgb(206, 39, 109);
      border: 1px solid white;
      margin: 0.5rem;
      padding: 0.3rem;
      border-radius: 3px;
      color: white;
    }
    & .contact-details__user {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      & .contact-details__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
        & .contact-details__your-name {
          margin-bottom: 0.6rem;
        }
        & .contact-details__user-name {
          background-color: rgb(233, 230, 230);
        }
        & .contact-details__email {
          margin-bottom: 0.6rem;
        }
        & .contact-details__user-email {
          background-color: rgb(233, 230, 230);
        }
      }
    }
  }
  .contact-details__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 5rem;
    & div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: 1rem;
    }
    & .contact-details__city {
      margin-left: 1rem;
    }
    &:first-child {
      margin-right: 4rem;
    }
    & .contact-details__add,
    .contact-details__location {
      margin-left: 0.2rem;
      margin-right: 4rem;
    }
  }
}
.google-location {
  margin-top:6rem;
  height: 82vh;
  margin-left:0rem;
  margin-right:0rem;
  background-color: black;
  & .google-location__media-icons-footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top:2.8rem;
    & .google-location__footer-icons{
      display: flex;
      flex-direction:row;
    }
    & .google-location__footer-content{
      font-size: 13px;
      margin-top:1rem;
    }
    & .google-location__icons-1{
      margin:0rem 0.5rem;
    }
    & strong{
      color:rgb(253, 65, 96)
    }
    }
}
@media screen and (max-width: 815px) {
  .container {
    height: 115vh;
  }
  .main-info{
    .main-info__info{
      margin-top:1rem;
    }
  }
  .contact-details {
    margin-top: 3rem;
  }
  .scroll-down{
    left:43.5%;
  }
  .depts {
    display: flex;
    flex-direction: column;
    & .depts__dept .depts__dept-icon {
      margin-top: 2rem;
    }
  }
  .section-2 .section-2__head {
    text-align: center;
  }
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    align-items: center;
    & .header__navigation {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      & a {
        margin-bottom:0rem;
        margin-left: 2rem;
      }
    }
    & .header__menu{
      display: flex;
    }
  }
  .timer {
    flex-direction: column;
  }
  .timer .timer__remaining-time {
    flex-direction: row;
    align-items: center;
     
    & .timer__time {
      margin-bottom: 2rem;
      margin:auto;
      height: 8rem;
      width:8rem;
    }
  }
  .members {
    flex-direction: column;
    height: 100%;
    & .members__member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      margin-left:3rem;
      width:180px;
      height:170px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
      & h2 {
        margin: 0.1rem;
      }
      & p {
        padding: 0.1rem;
      }
    }
    & .members__profile {
      width: 100px;
      height: 110px;
    }
  }
  .media-icons{
      margin-left:2.5rem;
  }
  .contact-details {
    flex-direction: column;
  }
  .google-location {
    flex-direction: column;
    margin-top: 3rem;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .members {
    margin-top: 8rem;
  }
  .address:first-child {
    margin-right: 5rem;
    padding-right: 4rem;
    text-align: center;
  }
  .navigate a {
    margin: 1rem;
  }

  .contact-details {
    & .contact-details__input-form {
      & .contact-details__user {
        flex-direction: column;
      }
    }
    .contact-details__address {
      align-items: center;
      margin-right:0rem;
      & .contact-details__city {
        margin-left: 9rem;
      }
    }
  }
  .google-location {
    width: 100vw;
    height:72vh;
    margin-top: 10rem;
    flex-direction: initial;
    & iframe{
      width:50rem;
    }
  }
}
@media screen and (max-width: 420px) {
  .container{
    height:180vh;
  }
  .contact-details {
    margin-top: 10rem;
  }
  .contact-details__user-message {
    width: 150px;
  }
  .contact-details {
    justify-content: center;
  }
  .depts .depts__dept {
    margin-top: 5rem;
  }
  .main-info{
    margin-top:-75rem;
  }
  .timer .timer__remaining-time{
    flex-direction: column;
    & .timer__time{
      margin-bottom: 1rem;
    }
  }
  .scroll-down{
    bottom:-33rem;
    left:38%;
  }
  .members .members__member{
    margin-left:7.5rem;
  }
  .google-location{
    & iframe{
      width:26rem;
    }
  }
  .contact-details .contact-details__input-form{
    margin-left:0rem;
  }
  .contact-details .contact-details__input-form .contact-details__user{
    margin-left:2rem;
  }
  .contact-details .contact-details__address .contact-details__city{
    margin-left:7rem;
  }
  .contact-details .contact-details__input-form .contact-details__your-message{
      & .contact-details__user-message{
        width:15rem;
      }
  }
  .header{

    & .header__navigation{
      flex-direction: column; 
      & a{
        margin:1rem;
      }
      
    }
    background-color: blanchedalmond;
  }
}
